.home_welcome_section {
  width: 100%;
}

.home_welcome_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}

.home_welcome_title span {
  color: var(--purple_color);
}

.home_welcome_contents,
.home_welcome_headers {
  max-width: 80%;
}

@media screen and (max-width: 1024px) {
  .home_welcome_contents,
  .home_welcome_headers {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
.home_welcome_container{
    grid-template-columns: 1fr;
}
}

