.home_welcome_section {
  width: 100%;
}

.home_welcome_container {
  align-items: center;
}

.home_welcome_title span {
  color: var(--purple_color);
}

.home_welcome_contents p {
  font-size: 1rem;
  font-weight: 100;
}

@media screen and (max-width: 1024px) {
}
