.stats_section {
  background-color: var(--white_alt_color);
}

.stats_container {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
  gap: 1rem;
}

.stat_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.stat_item p {
  font-size: 1.2rem;
}

.stat_item h1 {
  color: var(--grey_color);
  font-weight: 700;
}

.stat_item:first-child {
  border-right: 1px solid var(--grey_color);
}
.stat_item:last-child {
  border-left: 1px solid var(--grey_color);
}

@media screen and (max-width: 1000px) {
  .stats_container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .stat_item {
    padding: 2rem 0;
  }
  .stat_item:first-child {
    border: none;
    border-bottom: 1px solid var(--grey_color);
  }
  .stat_item:last-child {
    border: none;
    border-top: 1px solid var(--grey_color);
  }
}
