.men_activities_container {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  gap: 2rem;
}

.men_activities_contents .men_activities_titles p {
  color: var(--grey_color);
}

.men_activities_images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.men_activities_images img {
  width: 100%;
  min-height: 400px;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 850px) {
  .men_activities_container {
    grid-template-columns: 1fr;
  }
  .men_activities_images img {
    min-height: 320px;
  }
}
