.footer_section {
  background-color: rgb(225, 190, 231);
  width: 100%;
  padding: 6rem 0 1rem;
}

.footer_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
}

.footer_center_links_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.footer_content_links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer_content_links strong {
  font-size: var(--title_top);
}

.footer_links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer_links li a {
  color: var(--text_color);
  transition: 0.4s;
}

.footer_links li a:hover {
  color: var(--purple_color);
}

.footer_contact_info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer_contact_info:hover .footer_social_icon,
.footer_contact_info:hover a {
  color: var(--purple_color);
}
.footer_socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}

.footer_socials_container {
  display: flex;
  gap: 1rem;
}

.footer_social_icon {
  font-size: 2rem;
  color: var(--text_color);
  transition: 0.4s;
  cursor: pointer;
}

.footer_social_icon:hover {
  color: var(--purple_color);
}

.footer_copyright span {
  color: var(--text_color);
}

.footer_made_by {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
.footer_made_by a {
  color: var(--text_color);
  transition: 0.4s;
}

.footer_made_by a span {
  color: var(--purple_color);
}

@media screen and (max-width: 1000px) {
  .footer_center_links_container {
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 3rem 1rem;
  }
}

@media screen and (max-width: 700px) {
  .footer_socials,
  .footer_made_by {
    width: 100%;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
  }

    .footer_center_links_container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 3rem 1rem;
  }
}

@media screen and (max-width: 360px) {
  .footer_center_links_container {
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
  }
}
