.home_about_container {
  align-items: center;
}
.home_about_image {
  width: 100%;
  height: 100%;
}

.home_about_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home_about_description {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
}

.home_about_brief {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.home_mission_vision {
  display: flex;
  gap: 1rem;
}

.home_mission,
.home_vision {
  padding: 3rem 2rem;
  box-shadow: 6px 6px 10px var(--light_purple);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.home_mission h3,
.home_vision h3 {
  color: var(--title_color);
}

.home_mission p, .home_vision p {
  color: var(--text_color);
}

@media screen and (max-width: 1100px) {
  .home_about_container {
    grid-template-columns: 1fr;
  }

  .home_about_image {
    max-height: 40vh;
    width: 100%;
  }

  .home_about_image img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 550px) {
  .home_mission_vision {
    flex-direction: column;
  }
}
