@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Questrial&display=swap");
:root {
  --bg_color: #ffffff;
  --purple_color: #9c27b0;
  --text_color: #5a5a5a;
  --title_color: #1a1a1a;
  --light_purple: #e1bee7;
  --grey_color: #616161;
  --white_alt_color: #f7f7f7;

  /* FONTS */
  --text_fs: 1rem;
  --hero_fs: 6rem;
  --section_fs: 2.3rem;
  --sub_section_fs: 1.4rem;
  --title_top: 1.1rem;
  --btn_fs: 0.925rem;

  --title_ff: "Questrial", serif;
  --text_ff: "Didact Gothic", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg_color);
  margin: 0;
  padding: 0;
  font-family: var(--text_ff);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

input,
textarea,
button {
  outline: none;
  border: none;
  font-family: var(--title_ff);
}

html {
  scroll-behavior: smooth;
  animation-delay: 2s;
}

.below_navbar {
  padding: 10rem 0;
}

.container {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 90%;
}

.small_container {
  max-width: 75%;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding: 10rem 0;
}

.section_headers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.width_80 {
  max-width: 80%;
}

.hero_title {
  font-size: var(--hero_fs);
  letter-spacing: -1px;
  font-weight: 700;
  font-family: var(--title_ff);
  
}

.hero_title_2{
   font-size: 3.5rem;
  letter-spacing: -1px;
  font-weight: 700;
  font-family: var(--title_ff);
}

.section_title {
  font-size: var(--section_fs);
  font-weight: 600;
  font-family: var(--title_ff);
  letter-spacing: -1px;
  line-height: 1.3;
}

.sub_section_title {
  font-size: var(--sub_section_fs);
  font-weight: 600;
  font-family: var(--title_ff);
  letter-spacing: 0px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 1.5rem;
  font-family: var(--title_ff);
  font-size: var(--btn_fs);
  font-weight: 400;
  border-radius: 3rem;
  gap: 1rem;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
}

.btn_purple {
  background-color: var(--purple_color);
  color: var(--bg_color);
  border: 1px solid var(--purple_color);
}

.btn_purple:hover {
  background-color: transparent;
  color: var(--purple_color);
  border: 1px solid var(--purple_color);
}

.btn_outline {
  background-color: transparent;
  color: var(--bg_color);
  border: 1px solid var(--bg_color);
}

.btn_outline:hover {
  background-color: var(--title_color);
  color: var(--bg_color);
  border: 1px solid var(--title_color);
}

.btn_purple_outline {
  background-color: transparent;
  border: 1px solid var(--purple_color);
  color: var(--purple_color);
}

.btn_purple_outline:hover {
  color: var(--bg_color) !important;
  background-color: var(--purple_color);
}

.btn_black {
  background-color: var(--title_color);
  color: var(--bg_color);
  border: 1px solid var(--title_color);
}

.btn_black:hover {
  background-color: var(--grey_color);
  color: var(--white_alt_color);
  border: 1px solid var(--grey_color);
}

.btn_black_outline {
  background-color: transparent;
  border: 1px solid var(--title_color);
  color: var(--title_color);
}

.btn_black_outline:hover {
  color: var(--bg_color) !important;
  background-color: var(--title_color);
}

.btn_white {
  background-color: var(--bg_color);
  color: var(--title_color);
  border: 1px solid var(--bg_color);
}

.btn_white:hover {
  background-color: var(--grey_color);
  color: var(--white_alt_color);
  border: 1px solid var(--grey_color);
}

.btn_white_outline{
  background-color: transparent;
  color: var(--bg_color);
  border: 1px solid var(--bg_color);
}
.title_top {
  font-weight: 400;
  font-size: var(--title_top);
  text-transform: uppercase;
  display: inline-block;
}

.title_top::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 2px;
  margin-right: 10px;
  vertical-align: middle;
}

.title_top_purple {
  color: var(--purple_color);
}

.title_top_purple::before {
  background-color: var(--purple_color);
}

.title_top_faint {
  color: var(--grey_color);
}

.title_top_faint::before {
  background-color: var(--grey_color);
}

.title_top_dark {
  color: var(--title_color);
}

.title_top_dark::before {
  background-color: var(--title_color);
}

.title_top_pink {
  color: var(--light_purple);
}

.title_top_pink::before {
  background-color: var(--light_purple);
}

.title_top_white {
  color: var(--bg_color);
}
.title_top_white::before {
  background-color: var(--bg_color);
}

@media screen and (max-width: 1200px) {
  .small_container {
    max-width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .hero_title {
    font-size: 4rem;
  }

  .section_title {
    font-size: 2.5rem;
  }

  .sub_section_title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .below_navbar {
    padding: 9rem 0;
  }
  .container {
    max-width: 93%;
  }
  .hero_title {
    font-size: 2.8rem;
  }

  .width_80 {
    max-width: 100%;
  }

  .section_title {
    font-size: 1.7rem;
  }

  .sub_section_title {
    font-size: 1.3rem;
  }

  .section {
    padding: 4.5rem 0;
  }

  .grid_container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

