.mens_ministry_hero {
  width: 100%;
  background-color: var(--bg_color);
}

.mens_ministry_hero_container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 1rem;
  align-items: center;
  min-height: 100dvh;
}

.mens_ministry_image {
  width: 100%;
  height: 100%;
}

.mens_ministry_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mens_hero_contents {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.mens_hero_icon {
  color: rgb(8, 94, 66);
}

@media screen and (max-width: 850px) {
    .mens_ministry_hero_container{
        grid-template-columns: 1fr;
    }

}